<div>
<h1>
	<%= @title %>
</h1>

<p>Менеджер: Виктория Кабина</p>
<p>Разработчик: Константин Акишев, Ростислав Фокин</p>
<p>Системный аналитик: Александр Антоненко</p>
<p>Документовед: Ярослава Панина</p>
</div>