<div class="col-md-6" style=" float: none; margin: 0 auto;">
	<ul class="list-group">
	  <% @users.each do |i| %>
	  <%if current_user == i %>
		    <li class="list-group-item list-group-item-info">
		    	<%= i.email %>
		    	<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
					    <%= link_to "Профиль", user_path(i), :class => "btn btn-default" %>
					</div>
				</div>
		    </li>
	    <% else%>
		    <li class="list-group-item">
		    	<%= i.email %>
		    	<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
					    <%= link_to "Профиль", user_path(i), :class => "btn btn-default" %>
					</div>
				</div>
		    </li>
	   	<%end %>
	  <% end %>
	</ul>
</div>