<div class="col-md-6" id="system_form">
	<%= f.error_notification %>
	<p><h4>Название</h4><p>
	<p><%= f.input :name, label: false %></p>
	<p><h4>Описание</h4><p>
	<p><%= f.input :description, as: :text, label: false %></p>
	<p><%= f.button :submit, 'Создать', html: { class: 'btn btn-default' } %>  </p>
</div>