<div class="col-md-6" style="align-right;">
	<div class="well" >
		<ul class="list-group">
			<h4 style="margin-top: 1em;">Название:</h4>
			<li class="list-group-item" style="margin-top: 1em;"><%= @blank.name %></li>
			<h4 style="margin-top: 1em;">Описание:</h4>
			<li class="list-group-item" style="margin-top: 1em;"><%= @blank.description %></li>
		</ul>
		<%if user_signed_in? %>
			<div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 1em;">
				<%=link_to "Редактировать тест", edit_blank_path(@blank), :class => "btn btn-warning" %>
			
				<%=link_to "Удалить тест", blank_path(@blank), :class => "btn btn-danger", method: :delete, data: {confirm: "Точно удалить?"} %>
			</div>
		<% end %>

	</div>
</div>
